@media screen and (max-width:1200px) {
    html{
        font-size:60.5%;
    }
}
@media screen and (max-width:980px) {
    html{
        font-size:52.5%;
    }
}
@media screen and (max-width:768px) {
    html{
        font-size:47.5%;
    }
    .row{
       width:90%; 
    }
    .mobile-menu{
        display: block;
    }
    .noumber,
    .main-menu,
    .name{
        display: none;
    }
    .name{
        font-size: 2rem;
    }
    .header-content .left-area{
        float: none;
        width: 100%;
        text-align: center;
        margin:1rem 0;
    }
    .departments-area video{
        width:100%;
        height:51rem;
    }
    .services_area .photo img{
    width: 12rem;
    }
    .little-description{
        display: block;
        width:80%;
        margin: auto;
    }
    
    .header-content .right-area{
        float: none;
        width: 100%;
    }
    .departments-area video{
        max-width:45rem;
        height:25.5rem;
    }
}
@media screen and (max-width:480px) {
    html{
        font-size:62.5%;
    }
    .row{
       width:95%; 
    }
    .top-header-area .manu-top a img{
        width:8rem;
        height:8rem;
    }
    .top-header-area .manu-top .hidden{
        font-size:2rem;
    }
    .mobile-menu .close-btn{
        right: 2rem;
    }
    .mobile-menu .overley-content a{
        font-size: 2.5rem;
    }
    .departments-area video{
        height: auto;
    }
    .services_area .box1{
        text-align: center;
    }
    .services_area .box1 h4{
        padding-bottom: .8rem;
    }
    .services_area .box2 .item{
        width:60%;
        margin: auto;
    }
    .services_area .box3 img{
        width:15rem;
        height:11rem;
    }
    .contact_us .footer-logo{
        text-align: center;
    }
    .contact_us .footer-logo a img{
        float: none;
    }
    .contact_us .box{
        width: 49.2%;
        margin-top: 3rem;
    }
}
